{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css/' %}">

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<img src= "{% static 'images/covid1.jpg'%}" alt="image" class="rounded-circle">

	<button class="btn btn-primary">Submit</button>
	<button class="btn btn-info">Submit1</button>
	<button class="btn btn-success">Submit2</button>
	<button class="btn btn-warning">Submit</button>
	<button class="btn btn-danger">Submit1</button>
	<button class="btn btn-success">Submit2</button>


	<form class="form-control">
		<input class="form-control" type="text" name="">
	</form>


	<br>
</body>
</html>