<!DOCTYPE html>
<html>
<head>
	<title>Register</title>


	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container" style="background-color: yellow">
		<h1 class="text-primary text-center">Registration</h1>

		<form class="form-group">
			<h3>Enter user data</h3>
			<label></label><input type="text" name="" class="form-control" placeholder=" enter name">
			<label></label><input type="email" name="" class="form-control" placeholder="enter email">
			<label></label><input type="password" name="" class="form-control" placeholder="enter password">
			<label></label><input type="submit" name="register">
		</form>
	</div>
</body>
</html>